{% extends 'base.html' %}

{% load staticfiles %}

{% block custom_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/user_login.css' %}">
    <?xml version="1.0" encoding="UTF-8" standalone="no"?>
{% endblock %}

{% block custom_js %}
    <script type="text/javascript">
        // This is called with the results from from FB.getLoginStatus().
        function statusChangeCallback(response) {
          console.log('statusChangeCallback');
          // The response object is returned with a status field that lets the
          // app know the current login status of the person.
          // Full docs on the response object can be found in the documentation
          // for FB.getLoginStatus().
          if (response.status === 'connected') {
            // Logged into your app and Facebook.
            onConnect(true);
          } else if (response.status === 'not_authorized') {
            // The person is logged into Facebook, but not your app.
            onNotAuthorized();
          } else {
            // The person is not logged into Facebook, so we're not sure if
            // they are logged into this app or not.
            onNotLoggedIn();
          }
        }
        var onConnect = function(fb)
        {
            console.log("Welcome! You're logged in.");
            if (fb)
            {
                FB.api('/me', function(response) {
                    $.ajax(
                    {
                        url: "{% url 'login'}",
                        data: JSON.stringify(response),
                        dataType: "text/json",
                        async: false,
                        success: function(data)
                        {
                            window.location = data;
                        }
                    });
                });
            }
            else
            {
                json_data = {
                    username: $("#username").val();
                    password: $("#password").val(); 
                };
                $.ajax(
                {
                    url: "{% url 'login'}",
                    data: JSON.stringify(json_data),
                    dataType: "text/json",
                    async: false,
                    success: function(data)
                    {
                        window.location = data;
                    }
                });
            }
        }
        var onNotAuthorized = function()
        {
          //Alert that the user is not authorized.
          alert("Please log in to the app.")
        }
        var onNotLoggedIn = function()
        {
          alert("Invalid username and/or password. Please try again.");
        }
        // This function is called when someone finishes with the Login
        // Button.  See the onlogin handler attached to it in the sample
        // code below.
        function checkLoginState() {
          FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
          });
        }
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '294236587608657',
            cookie     : true,  // enable cookies to allow the server to access 
                                // the session
            xfbml      : true,  // parse social plugins on this page
            version    : 'v2.7' // use graph api version 2.5
          });
          // Now that we've initialized the JavaScript SDK, we call 
          // FB.getLoginStatus().  This function gets the state of the
          // person visiting this page and can return one of three states to
          // the callback you provide.  They can be:
          //
          // 1. Logged into your app ('connected')
          // 2. Logged into Facebook, but not your app ('not_authorized')
          // 3. Not logged into Facebook and can't tell if they are logged into
          //    your app or not.
          //
          // These three cases are handled in the callback function.
          FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
          });
        };
        // Load the SDK asynchronously
        (function(d, s, id){
          var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
{% endblock %}

{% block main_content %}
    <div class="container">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="row" style="background-color: white; padding: 15px;">
        <div class="lb-header">
            <a href="#" class="active" id="login-box-link" style="">INICIAR SESIÓN</a>
            <a href="#" id="signup-box-link">REGISTRO</a>
        </div>
        <!-- Login -->
        <form class="email-login">
            <div class="u-form-group">
                <input type="text" placeholder="Usuario" name="username" id="username"/>
            </div>
            <div class="u-form-group">
                <input type="password" placeholder="Contraseña" id="password" name="password"/>
            </div >
            <div class="u-form-group">

            <button onclick="FB.login()" style="background-color: #4080ff;">
            <svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   version="1.1"
   id="Layer_1"
   x="0px"
   y="0px"
   width="20px"
   height="20px"
   viewBox="0 0 266.893 266.895"
   enable-background="new 0 0 266.893 266.895"
   xml:space="preserve"
   inkscape:version="0.91 r13725"
   sodipodi:docname="fb.svg"><metadata
     id="metadata9"><rdf:RDF><cc:Work
         rdf:about=""><dc:format>image/svg+xml</dc:format><dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" /></cc:Work></rdf:RDF></metadata><defs
     id="defs7" /><sodipodi:namedview
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1"
     objecttolerance="10"
     gridtolerance="10"
     guidetolerance="10"
     inkscape:pageopacity="0"
     inkscape:pageshadow="2"
     inkscape:window-width="690"
     inkscape:window-height="480"
     id="namedview5"
     showgrid="false"
     inkscape:zoom="0.8842429"
     inkscape:cx="133.4465"
     inkscape:cy="133.44749"
     inkscape:window-x="0"
     inkscape:window-y="0"
     inkscape:window-maximized="0"
     inkscape:current-layer="Layer_1" /><path
     id="f"
     d="M182.409,262.307v-99.803h33.499l5.016-38.895h-38.515V98.777c0-11.261,3.127-18.935,19.275-18.935  l20.596-0.009V45.045c-3.562-0.474-15.788-1.533-30.012-1.533c-29.695,0-50.025,18.126-50.025,51.413v28.684h-33.585v38.895h33.585  v99.803H182.409z"
     fill="#FFFFFF" /></svg>
            Log In with Facebook</button>
        </div>
            <div class="u-form-group">
                <button onclick="">Log in</button>
            </div>
            <div class="u-form-group">
                <a href="#" class="forgot-password">Olvide mi contraseña</a>
            </div>
        </form>
        <!-- Sign Up -->
        <form class="email-signup">
            <div class="u-form-group">
                <input type="text" placeholder="Usuario"/>
            </div>
            <div class="u-form-group">
                <input type="password" placeholder="Contraseña"/>
            </div>
            <div class="u-form-group">
                <input type="password" placeholder="Confirmar contraseña"/>
            </div>
            <div class="u-form-group">
                <input type="text" placeholder="Ciudad"/>
            </div>
            <div class="u-form-group">
                <input type="text" placeholder="Edad"/>
            </div>
            <div class="u-form-group">
                <button>Sign Up</button>
            </div>
        </form>
    </div>
    </div>
    <div class="col-md-2"></div>
    </div>

    <script type="text/javascript">
        $(".email-signup").hide();
        $("#signup-box-link").click(function(){
          $(".email-login").fadeOut(100);
          $(".email-signup").delay(100).fadeIn(100);
          $("#login-box-link").removeClass("active");
          $("#signup-box-link").addClass("active");
        });
        $("#login-box-link").click(function(){
          $(".email-login").delay(100).fadeIn(100);;
          $(".email-signup").fadeOut(100);
          $("#login-box-link").addClass("active");
          $("#signup-box-link").removeClass("active");
        });
    </script>
{% endblock %}

{% block custom_js_body %}
{% endblock %}