{% block custom_js %}
<script type="text/javascript" src="{% static 'static/assets/js/card.js' %}"></script>

<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

{% endblock %}

{% block main_content %}

<div class="container">
    <div class="col-lg-12">
    <div class="col-md-5 no-padding lib-item" data-category="view">
        <div class="lib-panel">
            <div class="row box-shadow">
                <div class="col-md-6 promo-img">
                    <img class="lib-img-show" src="https://mediawen.com/img/customers/img.jpg">
                </div>
                <div class="col-md-6">
                    <div class="lib-row lib-header">
                        Example library
                        <div class="lib-header-seperator"></div>
                    </div>
                    <div class="lib-row lib-header" style="font-size: 12px; padding-top: 0; font-weight: bold">
                        $100
                    </div>
                    <div class="lib-row lib-header" style="font-size: 12px; padding-top: 5px;">
                        Address
                        <div class="lib-header-seperator"></div>
                    </div>
                    <div class="lib-row lib-desc">
                        Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem
                        ipsum dolor
                    </div>
                    <div class="col-md-12" align="right">
                        <a id="mas" href="" class="btn btn-info">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-1">
    </div>

    <div class="col-md-5 no-padding lib-item" data-category="view" >
        <div class="lib-panel">
            <div class="row box-shadow">
                <div class="col-md-6 promo-img">
                    <img class="lib-img-show" src="https://mediawen.com/img/customers/img.jpg">
                </div>
                <div class="col-md-6">
                    <div class="lib-row lib-header">
                        Example library
                        <div class="lib-header-seperator"></div>
                    </div>
                    <div class="lib-row lib-header" style="font-size: 12px; padding-top: 0; font-weight: bold">
                        $100
                    </div>
                    <div class="lib-row lib-header" style="font-size: 12px; padding-top: 5px;">
                        Address
                        <div class="lib-header-seperator"></div>
                    </div>
                    <div class="lib-row lib-desc">
                        Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem
                        ipsum dolor
                    </div>
                    <div class="col-md-12" align="right">
                        <a id="mas" href="" class="btn btn-info">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}